@facephi:registry=https://facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/
//facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/:_password=Y21WbWRHdHVPakF4T2pBd01EQXdNREF3TURBNllXeFhVR3R4V0ZkUFkxaHRPRE5vZUdvNGJHOXVWMVJRV0Vkdw==
//facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/:username=dtechsoftae01
//facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/:email=dtechsoftae01@facephi.com
//facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/:always-auth=true