.retry-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #f4f4f4; */
}

.retry-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 320px;
  position: relative;
}


.success-icon {
  font-size: 80px;
  color: green;
  margin-bottom: 10px;
}


.retry-icon {
  font-size: 80px;
  color: red;
  margin-bottom: 10px;
}

.retry-card h1 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.retry-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.retry-card button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.retry-card button:hover {
  background: #0056b3;
}
